## Lösung:

2. Fügen Sie in die Tabelle "Freunde" die Freunde "Donald", "Daisy" und "Dagobert" mit den Telefonnummern 117, 118 und 119 ein. Alle drei wohnen in Entenhausen. Überprüfen Sie durch ein anschließendes `SELECT`-Statement, ob die Werte auch richtig eingetragen wurden

In [37]:
import sqlite3 

datenbankverbindung = sqlite3.connect( "freunde.db") 

cursor = datenbankverbindung.cursor() 

cursor.execute("INSERT INTO Freunde ( Name, Telefonnummer, Wohnort) VALUES ('Donald', 117, 'Entenhausen');") 
cursor.execute("INSERT INTO Freunde ( Name, Telefonnummer, Wohnort) VALUES ('Daisy', 118, 'Entenhausen');") 
cursor.execute("INSERT INTO Freunde ( Name, Telefonnummer, Wohnort) VALUES ('Dagobert', 119, 'Entenhausen');") 
cursor.execute("SELECT * FROM Freunde;") 

datenbankverbindung.commit()

ergebnis = cursor.fetchall() 
print ( ergebnis )

datenbankverbindung.close()

[('Donald', 117, 'Entenhausen'), ('Daisy', 118, 'Entenhausen'), ('Dagobert', 119, 'Entenhausen')]

3. Löschen Sie "Dagobert" aus der "Freunde"-Tabelle. Überprüfen Sie das Ergebnis.

In [38]:
import sqlite3 

datenbankverbindung = sqlite3.connect( "freunde.db") 

cursor = datenbankverbindung.cursor() 

cursor.execute("DELETE FROM Freunde WHERE Name = 'Dagobert';") 
cursor.execute("SELECT * FROM Freunde;") 

datenbankverbindung.commit()

ergebnis = cursor.fetchall() 
print ( ergebnis )

datenbankverbindung.close()

[('Donald', 117, 'Entenhausen'), ('Daisy', 118, 'Entenhausen')]

4. Ändern Sie den Namen von "Donald" in "Phantomias" und seine Rufnummer in 999. Überprüfen Sie das Ergebnis.

In [39]:
import sqlite3 

datenbankverbindung = sqlite3.connect( "freunde.db") 

cursor = datenbankverbindung.cursor() 

cursor.execute("UPDATE Freunde SET Name = 'Phantomias',Telefonnummer = 999 WHERE Name = 'Donald';") 
cursor.execute("SELECT * FROM Freunde;") 

datenbankverbindung.commit()

ergebnis = cursor.fetchall() 
print ( ergebnis )

datenbankverbindung.close()

[('Phantomias', 999, 'Entenhausen'), ('Daisy', 118, 'Entenhausen')]