#### LÃ¶sung:

1.

In [11]:
import sqlite3 # 1.

datenbankverbindung = sqlite3.connect( "Firma.db") # 2.

cursor = datenbankverbindung.cursor() # 3.

cursor.execute("SELECT * FROM sqlite_master;") # 4.

ergebnis = cursor.fetchall() # 5.
print ( ergebnis )

datenbankverbindung.close() # 6.

[('table', 'land', 'land', 2, 'CREATE TABLE `land` (\n  `LNR` varchar(4) NOT NULL,\n  `Name` varchar(50) NOT NULL,\n  `Einwohner` double(20,2) DEFAULT NULL,\n  `Flaeche` double(53,0) DEFAULT NULL,\n  `Hauptstadt` varchar(30) DEFAULT NULL,\n  `Kontinent` varchar(15) DEFAULT NULL,\n  `KontinentFlaeche` double(8,0) DEFAULT NULL,\n  `KontinentEinwohner` double(8,0) NOT NULL\n)'), ('table', 'ort', 'ort', 14, 'CREATE TABLE `ort` (\n  `Name` varchar(30) DEFAULT NULL,\n  `Land` varchar(50) NOT NULL,\n  `Einwohner` int(11) DEFAULT NULL,\n  `Laenge` double(10,4) DEFAULT NULL,\n  `Breite` double(10,4) DEFAULT NULL\n)')]

2. "Hauptstadt" ist in der Tabelle "land" und vom Datentyp "str".