### Lösung: 

- Erstelle eine SQLite-Datenbank "autowerkstatt.db" und lege dort die Tabellen "Auto" und "Kunde" an wie oben angegeben. Überprüfe das Ergebnis mit einem `"SELECT * FROM sqlite_master;"`-Statement.

In [16]:
import sqlite3 

datenbankverbindung = sqlite3.connect( "autowerkstatt.db") 

cursor = datenbankverbindung.cursor() 

cursor.execute("DROP TABLE IF EXISTS Auto;") # Tabelle löschen, wenn es sie schon gibt
cursor.execute("DROP TABLE IF EXISTS Kunde;") # Tabelle löschen, wenn es sie schon gibt
cursor.execute("CREATE TABLE IF NOT EXISTS Auto ( Kennzeichen TEXT PRIMARY KEY, \
    Kilometerstand INTEGER, Fabrikat TEXT );") 
cursor.execute("CREATE TABLE IF NOT EXISTS Kunde ( Name TEXT PRIMARY KEY, \
    Adresse TEXT, besitzt TEXT );")

datenbankverbindung.commit()

cursor.execute("SELECT * FROM sqlite_master;")
ergebnis = cursor.fetchall() 
print ( ergebnis )

datenbankverbindung.close()

[('table', 'Auto', 'Auto', 2, 'CREATE TABLE Auto ( Kennzeichen TEXT PRIMARY KEY,     Kilometerstand INTEGER, Fabrikat TEXT )'), ('index', 'sqlite_autoindex_Auto_1', 'Auto', 3, None), ('table', 'Kunde', 'Kunde', 5, 'CREATE TABLE Kunde ( Name TEXT PRIMARY KEY,     Adresse TEXT, besitzt TEXT )'), ('index', 'sqlite_autoindex_Kunde_1', 'Kunde', 4, None)]

- Befülle die Datenbank mit mindestens 3 Autos und mindestens "Tim Turner" und "Tanja Tochter" als Kunden. Überprüfe das Ergebnis mit einem `"SELECT * FROM Auto;"`- bzw. `"SELECT * FROM Kunde;"`-Statement.

In [19]:
import sqlite3 

datenbankverbindung = sqlite3.connect( "autowerkstatt.db") 
cursor = datenbankverbindung.cursor() 

cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Fabrikat) \
    VALUES ('LA-CH123',120001,'Opel Kapitän' );")
cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Fabrikat) \
    VALUES ('LA-UT666',97779,'Opel Diplomat');")
cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Fabrikat) \
    VALUES ('LA-TZ987',28271,'NSU Prinz' );")
cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Fabrikat) \
    VALUES ('LA-MM128',147888,'Saab 9000');")
cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Fabrikat) \
    VALUES ('LA-UF520',197812,'Opel Admiral' );")

cursor.execute("INSERT INTO Kunde (Name, Adresse, besitzt) \
    VALUES ( 'Kurt Kasper', 'An der Affenschaukel 5, Untermaulbach', 'LA-CH123, LA-TZ987, LA-UF520' );")
cursor.execute("INSERT INTO Kunde (Name, Adresse, besitzt) \
    VALUES ( 'Tanja Tochter', 'Am Löschteich 28, Teichgraben', 'LA-MM128' );")
cursor.execute("INSERT INTO Kunde (Name, Adresse, besitzt) \
    VALUES ( 'Tim Turner', 'Unterm Bach 1, Obermaulbach', 'LA-UT666' );")

datenbankverbindung.commit()

cursor.execute("SELECT * FROM Auto;")
ergebnis = cursor.fetchall() 
print ( ergebnis )
cursor.execute("SELECT * FROM Kunde;")
ergebnis = cursor.fetchall() 
print ( ergebnis )

datenbankverbindung.close()

[('LA-CH123', 120001, 'Opel Kapitän'), ('LA-UT666', 97779, 'Opel Diplomat'), ('LA-TZ987', 28271, 'NSU Prinz'), ('LA-MM128', 147888, 'Saab 9000'), ('LA-UF520', 197812, 'Opel Admiral')]
[('Kurt Kasper', 'An der Affenschaukel 5, Untermaulbach', 'LA-CH123, LA-TZ987, LA-UF520'), ('Tanja Tochter', 'Am Löschteich 28, Teichgraben', 'LA-MM128'), ('Tim Turner', 'Unterm Bach 1, Obermaulbach', 'LA-UT666')]

- Schreibe Python-Code, der Tanja Tochters Adresse und den Kilometerstand ihres Autos per INNER JOIN-Statement ausgibt.

In [20]:
import sqlite3 

datenbankverbindung = sqlite3.connect( "autowerkstatt.db") 

cursor = datenbankverbindung.cursor() 

cursor.execute("SELECT Kunde.Adresse, Auto.Kilometerstand \
    FROM Kunde, Auto WHERE Kunde.besitzt = Auto.Kennzeichen AND Kunde.Name = 'Tanja Tochter';")
ergebnis = cursor.fetchall() 
print ( ergebnis )

datenbankverbindung.close()

[('Am Löschteich 28, Teichgraben', 147888)]