### Aufgabe 24: 
Löse die folgenden Aufgaben in Python und speichere das Ergebnis unter *VornameNachname*-aufgabe24.ipynb auf Laufwerk H:.

- Erstelle eine SQLite-Datenbank "autowerkstatt.db" und lege dort die Tabellen "Auto" und "Kunde" an wie oben angegeben. Überprüfe das Ergebnis mit einem `"SELECT * FROM sqlite_master;"`-Statement.

In [28]:
import sqlite3 

datenbankverbindung = sqlite3.connect( "autowerkstatt.db") 

cursor = datenbankverbindung.cursor() 

#cursor.execute("DROP TABLE Auto;")
cursor.execute("CREATE TABLE IF NOT EXISTS Auto ( Kennzeichen TEXT PRIMARY KEY, \
    Kilometerstand INTEGER, Fabrikat TEXT, Herstellungsland TEXT );") 
cursor.execute("CREATE TABLE IF NOT EXISTS Kunde ( Name TEXT PRIMARY KEY, \
    Adresse TEXT, besitzt TEXT );")

datenbankverbindung.commit()

cursor.execute("SELECT * FROM sqlite_master;")
ergebnis = cursor.fetchall() 
print ( ergebnis )

datenbankverbindung.close()

[('table', 'Kunde', 'Kunde', 4, 'CREATE TABLE Kunde ( Name TEXT PRIMARY KEY,     Adresse TEXT, besitzt TEXT )'), ('index', 'sqlite_autoindex_Kunde_1', 'Kunde', 5, None), ('table', 'Auto', 'Auto', 2, 'CREATE TABLE Auto ( Kennzeichen TEXT PRIMARY KEY,     Kilometerstand INTEGER, Fabrikat TEXT, Herstellungsland TEXT )'), ('index', 'sqlite_autoindex_Auto_1', 'Auto', 3, None)]

- Befülle die Datenbank mit mindestens 3 Autos und mindestens "Tim Turner" und "Tanja Tochter" als Kunden. Überprüfe das Ergebnis mit einem `"SELECT * FROM Auto;"`- bzw. `"SELECT * FROM Kunde;"`-Statement.

In [40]:
import sqlite3 

datenbankverbindung = sqlite3.connect( "autowerkstatt.db") 

cursor = datenbankverbindung.cursor() 


cursor.execute("INSERT INTO Auto \
   (Kennzeichen, Kilometerstand, Fabrikat, Herstellungsland) \
     VALUES ('LA-MM128','147888','Saab 9000','Schweden');")
#    VALUES ('LA-UT666',97779,'Opel Diplomat','BRD');")
#    VALUES ('LA-CH123',120001,'Opel Kapitän','BRD' );")
#    VALUES ('LA-TZ987',28271,'NSU Prinz','BRD' );")

#cursor.execute("INSERT INTO Kunde \
#    (Name, Adresse, besitzt) \
#    VALUES ( 'Kurt Kasper', 'An der Affenschaukel 5, Untermaulbach', 'LA-CH123, LA-TZ987, LA-UF520' );")
#    VALUES ( 'Tanja Tochter', 'Am Löschteich 28, Teichgraben', 'LA-MM128' );")
#    VALUES ( 'Tim Turner', 'Unterm Bach 1, Obermaulbach', 'LA-UT666' );")


datenbankverbindung.commit()

cursor.execute("SELECT * FROM Auto;")
ergebnis = cursor.fetchall() 
print ( ergebnis )
cursor.execute("SELECT * FROM Kunde;")
ergebnis = cursor.fetchall() 
print ( ergebnis )

datenbankverbindung.close()

[('LA-TZ987', 28271, 'NSU Prinz', 'BRD'), ('LA-CH123', 120001, 'Opel Kapitän', 'BRD'), ('LA-UT666', 97779, 'Opel Diplomat', 'BRD'), ('LA-MM128', 147888, 'Saab 9000', 'Schweden')]
[('Tim Turner', 'Unterm Bach 1, Obermaulbach', 'LA-UT666'), ('Tanja Tochter', 'Am Löschteich 28, Teichgraben', 'LA-MM128'), ('Kurt Kasper', 'An der Affenschaukel 5, Untermaulbach', 'LA-CH123, LA-TZ987, LA-UF520')]

- Schreibe Python-Code, der Tanja Tochters Adresse und den Kilometerstand ihres Autos per INNER JOIN-Statement ausgibt.

In [43]:
import sqlite3 

datenbankverbindung = sqlite3.connect( "autowerkstatt.db") 

cursor = datenbankverbindung.cursor() 

cursor.execute("SELECT Kunde.Adresse, Auto.Kilometerstand \
    FROM Kunde, Auto WHERE Kunde.besitzt = Auto.Kennzeichen AND Kunde.Name = 'Tanja Tochter';")
ergebnis = cursor.fetchall() 
print ( ergebnis )

datenbankverbindung.close()

[('Am Löschteich 28, Teichgraben', 147888)]