## Lösung der Redundanz- und Konsistenz-Problematik: Mehrere Tabellen

Man könnte die Tabelle aus der vorigen Aufgabe in zwei Tabellen aufspalten. Dadurch wird die Redundanz verkleinert und die Wahrscheinlichkeit für Mutationsanomalien verringert. Z. B. können jetzt Kundendaten ohne Probleme gelöscht werden und gleichzeitig die Fahrzeugdaten erhalten bleiben.
    
<center><b>Auto</b></center>
    
|Kennzeichen|Kilometerstand|Fabrikat|
|:--- |:--- |:--- |
|LA-CH123|120001|Opel Kapitän|
|LA-UT666|97779|Opel Diplomat|
|LA-TZ987|28271|NSU Prinz|
|LA-MM128|147888|Saab 9000|
|LA-UF520|197812|Opel Admiral|
    
<center><b>Kunde</b></center>
    
|Name|Adresse|besitzt|
|:--- |:--- |:--- |
|Kurt Kasper|An der Affenschaukel 5, Untermaulbach|LA-CH123, LA-TZ987, LA-UF520|
|Tim Turner|Unterm Bach 1, Obermaulbach|LA-UT666|
|Tanja Tochter|Am Löschteich 28, Teichgraben|LA-MM128|
    
Um die Einträge der Tabelle "Kunde" den Einträgen in "Auto" zuordnen zu können, braucht es ein Attribut, das diese Zuordnung leistet. Man nennt es <b>Fremdschlüssel</b>. Im Beispiel wäre das "besitzt".

Bei einer Auswahlabfrage müssen nun Daten aus zwei Tabellen berücksichtigt werden. Die Syntax dafür ist beispielhaft nachfolgend dargestellt. Eine solche Abfrage heißt "INNER JOIN".

In [7]:
import sqlite3 

datenbankverbindung = sqlite3.connect( "autowerkstatt.db") 

cursor = datenbankverbindung.cursor() 

cursor.execute("SELECT Kunde.Name, Kunde.besitzt, Auto.Fabrikat \
    FROM Kunde, Auto WHERE Kunde.besitzt = Auto.Kennzeichen AND Kunde.Name = 'Tim Turner';")
ergebnis = cursor.fetchall() 
print ( ergebnis )

datenbankverbindung.close()

[('Tim Turner', 'LA-UT666', 'Opel Diplomat')]

### Aufgabe 24: 
Löse die folgenden Aufgaben in Python und speichere das Ergebnis unter *VornameNachname*-aufgabe24.ipynb auf Laufwerk H:.

- Erstelle eine SQLite-Datenbank "autowerkstatt.db" und lege dort die Tabellen "Auto" und "Kunde" an wie oben angegeben. Überprüfe das Ergebnis mit einem `"SELECT * FROM sqlite_master;"`-Statement.

[('table', 'Auto', 'Auto', 2, 'CREATE TABLE Auto ( Kennzeichen TEXT PRIMARY KEY,     Kilometerstand INTEGER, Fabrikat TEXT )'), ('index', 'sqlite_autoindex_Auto_1', 'Auto', 4, None), ('table', 'Kunde', 'Kunde', 5, 'CREATE TABLE Kunde ( Name TEXT PRIMARY KEY,     Adresse TEXT, besitzt TEXT )'), ('index', 'sqlite_autoindex_Kunde_1', 'Kunde', 3, None)]

- Befülle die Datenbank mit mindestens 3 Autos und mindestens "Tim Turner" und "Tanja Tochter" als Kunden. Überprüfe das Ergebnis mit einem `"SELECT * FROM Auto;"` bzw. `"SELECT * FROM Kunde;"`-Statement.

[('LA-CH123', 120001, 'Opel Kapitän'), ('LA-UT666', 97779, 'Opel Diplomat'), ('LA-TZ987', 28271, 'NSU Prinz'), ('LA-MM128', 147888, 'Saab 9000'), ('LA-UF520', 197812, 'Opel Admiral')]
[('Kurt Kasper', 'An der Affenschaukel 5, Untermaulbach', 'LA-CH123, LA-TZ987, LA-UF520'), ('Tanja Tochter', 'Am Löschteich 28, Teichgraben', 'LA-MM128'), ('Tim Turner', 'Unterm Bach 1, Obermaulbach', 'LA-UT666')]

- Schreibe Python-Code, der Tanja Tochters Adresse und den Kilometerstand ihres Autos per INNER JOIN-Statement ausgibt.

[('Am Löschteich 28, Teichgraben', 147888)]