### Lösung Aufgabe 25: 

- Welche Vorteile könnte es bringen, z. B. den Wohnort der Kunden in einer eigenen Spalte zu speichern?

Man kann einfach(er) herausfinden, wo die meisten Kunden wohnen, um z. B. gezielte Werbeaktionen für Kunden in einem Gebiet durchzuführen.

- Passe per Python und SQL die Tabellen in deiner Datenbank so an, dass sie der oben gezeigten Variante mit der Spalte "gehört" entsprechen. (Empfehlung: Tabellen löschen und neu anlegen.)

In [2]:
import sqlite3 

datenbankverbindung = sqlite3.connect( "autowerkstatt.db") 

cursor = datenbankverbindung.cursor() 

cursor.execute("DROP TABLE IF EXISTS Auto;") # Tabelle löschen, wenn es sie schon gibt
cursor.execute("DROP TABLE IF EXISTS Kunde;") # Tabelle löschen, wenn es sie schon gibt
cursor.execute("CREATE TABLE IF NOT EXISTS Auto ( Kennzeichen TEXT PRIMARY KEY, \
    Kilometerstand INTEGER, Hersteller TEXT, Modell TEXT, gehört TEXT );") 
cursor.execute("CREATE TABLE IF NOT EXISTS Kunde ( Name TEXT PRIMARY KEY, \
    Adresse TEXT );")

cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Hersteller, Modell, gehört) \
    VALUES ('LA-CH123',120001,'Opel','Kapitän','Kurt Kasper' );")
cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Hersteller, Modell, gehört) \
    VALUES ('LA-UT666',97779,'Opel','Diplomat','Tim Turner' );")
cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Hersteller, Modell, gehört) \
    VALUES ('LA-TZ987',28271,'NSU','Prinz','Kurt Kasper' );")
cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Hersteller, Modell, gehört) \
    VALUES ('LA-MM128',147888,'Saab','9000','Tanja Tochter' );")
cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Hersteller, Modell, gehört) \
    VALUES ('LA-UF520',197812,'Opel','Admiral','Kurt Kasper' );")

cursor.execute("INSERT INTO Kunde (Name, Adresse) \
    VALUES ( 'Kurt Kasper', 'An der Affenschaukel 5, Untermaulbach' );")
cursor.execute("INSERT INTO Kunde (Name, Adresse) \
    VALUES ( 'Tanja Tochter', 'Am Löschteich 28, Teichgraben' );")
cursor.execute("INSERT INTO Kunde (Name, Adresse) \
    VALUES ( 'Tim Turner', 'Unterm Bach 1, Obermaulbach' );")

datenbankverbindung.commit()
cursor.execute("SELECT * FROM sqlite_master;")
ergebnis = cursor.fetchall() 
#print ( ergebnis )
cursor.execute("SELECT * FROM Auto;")
ergebnis = cursor.fetchall() 
print ( ergebnis )
cursor.execute("SELECT * FROM Kunde;")
ergebnis = cursor.fetchall() 
print ( ergebnis )

datenbankverbindung.close()

[('LA-CH123', 120001, 'Opel', 'Kapitän', 'Kurt Kasper'), ('LA-UT666', 97779, 'Opel', 'Diplomat', 'Tim Turner'), ('LA-TZ987', 28271, 'NSU', 'Prinz', 'Kurt Kasper'), ('LA-MM128', 147888, 'Saab', '9000', 'Tanja Tochter'), ('LA-UF520', 197812, 'Opel', 'Admiral', 'Kurt Kasper')]
[('Kurt Kasper', 'An der Affenschaukel 5, Untermaulbach'), ('Tanja Tochter', 'Am Löschteich 28, Teichgraben'), ('Tim Turner', 'Unterm Bach 1, Obermaulbach')]

- Verändere deinen Code aus der letzten Aufgabe so, dass in der neuen Variante wieder Tanja Tochters Adresse und der Kilometerstand ihres Autos per INNER JOIN-Statement ausgegeben werden.

In [4]:
import sqlite3 

datenbankverbindung = sqlite3.connect( "autowerkstatt.db") 

cursor = datenbankverbindung.cursor() 

cursor.execute("SELECT Kunde.Adresse, Auto.Kilometerstand \
    FROM Kunde, Auto WHERE Kunde.Name = Auto.gehört AND Kunde.Name = 'Tanja Tochter';")
ergebnis = cursor.fetchall() 
print ( ergebnis )

datenbankverbindung.close()

[('Am Löschteich 28, Teichgraben', 147888)]