## Normalisierung

Die Lösung mit den zwei Tabellen ist noch nicht perfekt. Um zu redundanzfreien und weitgehend anomalieresistenten Tabellen zu kommen, gibt es ein drei-schrittiges Verfahren: die "Normalisierung".

### Erste Normalform

<u>Eine Datenbank ist in der <b>1. Normalform</b>, wenn pro Datenfeld nur maximal ein Wert vorhanden ist.</u>

Im Beispiel waren unter "besitzt" bei Kurt Kasper 3 Fahrzeuge gespeichert. Das darf nicht sein. Um das zu verhindern, können die Tabellen z. B. so aufgeteilt werden:
    
<center><b>Auto</b></center>
    
|<u>Kennzeichen</u>|Kilometerstand|Fabrikat|gehört|
|:--- |:--- |:--- |:--- |
|LA-CH123|120001|Opel Kapitän|Kurt Kasper|
|LA-UT666|97779|Opel Diplomat|Tim Turner|
|LA-TZ987|28271|NSU Prinz|Kurt Kasper|
|LA-MM128|147888|Saab 9000|Tanja Tochter|
|LA-UF520|197812|Opel Admiral|Kurt Kasper|
    
<center><b>Kunde</b></center>
    
|<u>Name</u>|Adresse|
|:--- |:--- |
|Kurt Kasper|An der Affenschaukel 5, Untermaulbach|
|Tim Turner|Unterm Bach 1, Obermaulbach|
|Tanja Tochter|Am Löschteich 28, Teichgraben|
    

### Hinweis:

- Die Primärschlüssel in der Tabellenüberschrift wurden wegen besserer Lesbarkeit unterstrichen.
- Manche sehen auch Vorname und Name, sowie Strasse und Ort als verschiedene Werte an, die nicht in einer gemeinsamen Spalte stehen sollten. Ob man hier eine Trennung durchführt oder nicht, hängt davon ab, ob die Werte auch getrennt voneinander verwendet werden oder nur immer zusammen. Im Beispiel soll angenommen werden, dass das Fabrikat nach Hersteller und Modell unterschieden werden soll.

<center><b>Auto</b></center>
    
|<u>Kennzeichen</u>|Kilometerstand|Hersteller|Modell|gehört|
|:--- |:--- |:--- |:--- |:--- |
|LA-CH123|120001|Opel|Kapitän|Kurt Kasper|
|LA-UT666|97779|Opel|Diplomat|Tim Turner|
|LA-TZ987|28271|NSU|Prinz|Kurt Kasper|
|LA-MM128|147888|Saab|9000|Tanja Tochter|
|LA-UF520|197812|Opel|Admiral|Kurt Kasper|
    
<center><b>Kunde</b></center>
    
|<u>Name</u>|Adresse|
|:--- |:--- |
|Kurt Kasper|An der Affenschaukel 5, Untermaulbach|
|Tim Turner|Unterm Bach 1, Obermaulbach|
|Tanja Tochter|Am Löschteich 28, Teichgraben|

### Aufgabe 25: 
Löse die folgenden Aufgaben in Python und speichere das Ergebnis unter *VornameNachname*-aufgabe25.ipynb auf Laufwerk H:.

- Welche Vorteile könnte es bringen, z. B. den Wohnort der Kunden in einer eigenen Spalte zu speichern?

...

- Passe per Python und SQL die Tabellen in deiner Datenbank so an, dass sie der oben gezeigten Variante mit der Spalte "gehört" entsprechen. (Empfehlung: Tabellen löschen und neu anlegen.)

[('LA-CH123', 120001, 'Opel', 'Kapitän', 'Kurt Kasper'), ('LA-UT666', 97779, 'Opel', 'Diplomat', 'Tim Turner'), ('LA-TZ987', 28271, 'NSU', 'Prinz', 'Kurt Kasper'), ('LA-MM128', 147888, 'Saab', '9000', 'Tanja Tochter'), ('LA-UF520', 197812, 'Opel', 'Admiral', 'Kurt Kasper')]
[('Kurt Kasper', 'An der Affenschaukel 5, Untermaulbach', None), ('Tanja Tochter', 'Am Löschteich 28, Teichgraben', None), ('Tim Turner', 'Unterm Bach 1, Obermaulbach', None)]

- Verändere deinen Code aus der letzten Aufgabe so, dass in der neuen Variante wieder Tanja Tochters Adresse und der Kilometerstand ihres Autos per INNER JOIN-Statement ausgegeben werden.

[('Am Löschteich 28, Teichgraben', 97779)]