### Lösung Aufgabe 26: 
Löse die folgenden Aufgaben in Python und speichere das Ergebnis unter *VornameNachname*-aufgabe26.ipynb auf Laufwerk H:.

- Nenne einen weiteren Grund (außer, dass zwei Kunden mit gleichem Namen möglich sind) dafür, warum es keine gute Idee ist, das Auto über den Namen des Besitzers zuzuordnen.

Wenn es beim Besitzer eine Namensänderung gibt (z. B. durch Heirat), muss der Fremdschlüssel in zwei Tabellen geändert werden. Bei einem Schreibfehler kann es eine Änderungsanomalie geben und dadurch Verlust der referentiellen Integrität.

- Welches Problem könnte es mit dem Autokennzeichen als Primärschlüssel für die Fahrzeuge geben?

Es könnte ein Fahrzeug abgemeldet und ein anderes mit der gleichen Nummer zugelassen werden. (Mögliche Lösung: Fahrgestellnummer)

- Passe per Python und SQL die Tabellen in deiner Datenbank so an, dass sie der Variante mit den Kundennummern entsprechen. (Empfehlung: Tabellen löschen und neu anlegen.)

In [3]:
import sqlite3 

datenbankverbindung = sqlite3.connect( "autowerkstatt.db") 

cursor = datenbankverbindung.cursor() 

cursor.execute("DROP TABLE IF EXISTS Auto;") # Tabelle löschen, wenn es sie schon gibt
cursor.execute("DROP TABLE IF EXISTS Kunde;") # Tabelle löschen, wenn es sie schon gibt
cursor.execute("CREATE TABLE IF NOT EXISTS Auto ( Kennzeichen TEXT PRIMARY KEY, \
    Kilometerstand INTEGER, Modell TEXT, Hersteller TEXT, Kundennummer INTEGER );") 
cursor.execute("CREATE TABLE IF NOT EXISTS Kunde ( Name TEXT, \
    Adresse TEXT, Kundennummer TEXT  PRIMARY KEY);")

cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Modell, Hersteller, Kundennummer) \
    VALUES ('LA-CH123',120001,'Opel Kapitän','BRD',47 );")
cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Modell, Hersteller, Kundennummer) \
    VALUES ('LA-UT666',97779,'Opel Diplomat','BRD',111 );")
cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Modell, Hersteller, Kundennummer) \
    VALUES ('LA-TZ987',28271,'NSU Prinz','BRD',47 );")
cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Modell, Hersteller, Kundennummer) \
    VALUES ('LA-MM128',147888,'Saab 9000','Schweden',227);")
cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Modell, Hersteller, Kundennummer) \
    VALUES ('LA-UF520',197812,'Trabant Sport','DDR',47 );")

cursor.execute("INSERT INTO Kunde (Name, Adresse, Kundennummer) \
    VALUES ( 'Kurt Kasper', 'An der Affenschaukel 5, Untermaulbach', 47 );")
cursor.execute("INSERT INTO Kunde (Name, Adresse, Kundennummer) \
    VALUES ( 'Tanja Tochter', 'Am Löschteich 28, Teichgraben', 111 );")
cursor.execute("INSERT INTO Kunde (Name, Adresse, Kundennummer) \
    VALUES ( 'Tim Turner', 'Unterm Bach 1, Obermaulbach', 227 );")
cursor.execute("INSERT INTO Kunde (Name, Adresse, Kundennummer) \
    VALUES ( 'Kurt Kasper', 'Heißt-genau-so-wie 47, Machtabernix', 2001 );")

datenbankverbindung.commit()
cursor.execute("SELECT * FROM sqlite_master;")
ergebnis = cursor.fetchall() 
#print ( ergebnis )
cursor.execute("SELECT * FROM Auto;")
ergebnis = cursor.fetchall() 
print ( ergebnis )
cursor.execute("SELECT * FROM Kunde;")
ergebnis = cursor.fetchall() 
print ( ergebnis )

datenbankverbindung.close()

[('LA-CH123', 120001, 'Opel Kapitän', 'BRD', 47), ('LA-UT666', 97779, 'Opel Diplomat', 'BRD', 111), ('LA-TZ987', 28271, 'NSU Prinz', 'BRD', 47), ('LA-MM128', 147888, 'Saab 9000', 'Schweden', 227), ('LA-UF520', 197812, 'Trabant Sport', 'DDR', 47)]
[('Kurt Kasper', 'An der Affenschaukel 5, Untermaulbach', '47'), ('Tanja Tochter', 'Am Löschteich 28, Teichgraben', '111'), ('Tim Turner', 'Unterm Bach 1, Obermaulbach', '227'), ('Kurt Kasper', 'Heißt-genau-so-wie 47, Machtabernix', '2001')]

- Verändere deinen Code aus der letzten Aufgabe so, dass in der neuen Variante wieder Tanja Tochters Adresse und der Kilometerstand ihres Autos per INNER JOIN-Statement ausgegeben werden.

In [4]:
import sqlite3 

datenbankverbindung = sqlite3.connect( "autowerkstatt.db") 

cursor = datenbankverbindung.cursor() 

cursor.execute("SELECT Kunde.Adresse, Auto.Kilometerstand \
    FROM Kunde, Auto WHERE Kunde.Kundennummer = Auto.Kundennummer AND Kunde.Name = 'Tanja Tochter';")
ergebnis = cursor.fetchall() 
print ( ergebnis )

datenbankverbindung.close()

[('Am Löschteich 28, Teichgraben', 97779)]