### Lösung Aufgabe 27: 
Löse die folgenden Aufgaben in Python und speichere das Ergebnis unter *VornameNachname*-aufgabe27.ipynb auf Laufwerk H:.

- Passe per Python und SQL die Tabellen in deiner Datenbank so an, dass sie der oben gezeigten dritten Normalform entsprechen. (Empfehlung: Tabellen löschen und neu anlegen.)

In [14]:
import sqlite3 

datenbankverbindung = sqlite3.connect( "autowerkstatt.db") 

cursor = datenbankverbindung.cursor() 

cursor.execute("DROP TABLE IF EXISTS Auto;") # Tabelle löschen, wenn es sie schon gibt
cursor.execute("DROP TABLE IF EXISTS Kunde;") # Tabelle löschen, wenn es sie schon gibt
cursor.execute("DROP TABLE IF EXISTS hergestellt_von;") # Tabelle löschen, wenn es sie schon gibt
cursor.execute("CREATE TABLE IF NOT EXISTS Auto ( Kennzeichen TEXT PRIMARY KEY, \
    Kilometerstand INTEGER, Modell TEXT, Kundennummer INTEGER );") 
cursor.execute("CREATE TABLE IF NOT EXISTS Kunde ( Name TEXT, \
    Adresse TEXT, Kundennummer TEXT  PRIMARY KEY);")
cursor.execute("CREATE TABLE IF NOT EXISTS hergestellt_von ( Modell TEXT PRIMARY KEY, \
    Hersteller TEXT);")

cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Modell, Kundennummer) \
    VALUES ('LA-CH123',120001,'Kapitän',47 );")
cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Modell, Kundennummer) \
    VALUES ('LA-UT666',97779,'Diplomat',111 );")
cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Modell, Kundennummer) \
    VALUES ('LA-TZ987',28271,'Prinz',47 );")
cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Modell, Kundennummer) \
    VALUES ('LA-MM128',147888,'9000',227);")
cursor.execute("INSERT INTO Auto (Kennzeichen, Kilometerstand, Modell, Kundennummer) \
    VALUES ('LA-UF520',197812,'Admiral',47 );")

cursor.execute("INSERT INTO Kunde (Name, Adresse, Kundennummer) \
    VALUES ( 'Kurt Kasper', 'An der Affenschaukel 5, Untermaulbach', 47 );")
cursor.execute("INSERT INTO Kunde (Name, Adresse, Kundennummer) \
    VALUES ( 'Tanja Tochter', 'Am Löschteich 28, Teichgraben', 227 );")
cursor.execute("INSERT INTO Kunde (Name, Adresse, Kundennummer) \
    VALUES ( 'Tim Turner', 'Unterm Bach 1, Obermaulbach', 111 );")
cursor.execute("INSERT INTO Kunde (Name, Adresse, Kundennummer) \
    VALUES ( 'Kurt Kasper', 'Heißt-genau-so-wie 47, Machtabernix', 2001 );")

cursor.execute("INSERT INTO hergestellt_von (Modell, Hersteller) \
    VALUES ( 'Kapitän', 'Opel' );")
cursor.execute("INSERT INTO hergestellt_von (Modell, Hersteller) \
    VALUES ( 'Diplomat', 'Opel' );")
cursor.execute("INSERT INTO hergestellt_von (Modell, Hersteller) \
    VALUES ( 'Prinz', 'NSU' );")
cursor.execute("INSERT INTO hergestellt_von (Modell, Hersteller) \
    VALUES ( '9000', 'Saab' );")
cursor.execute("INSERT INTO hergestellt_von (Modell, Hersteller) \
    VALUES ( 'Admiral', 'Opel' );")

datenbankverbindung.commit()
cursor.execute("SELECT * FROM sqlite_master;")
ergebnis = cursor.fetchall() 
#print ( ergebnis )
cursor.execute("SELECT * FROM Auto;")
ergebnis = cursor.fetchall() 
print ( ergebnis )
cursor.execute("SELECT * FROM Kunde;")
ergebnis = cursor.fetchall() 
print ( ergebnis )
cursor.execute("SELECT * FROM hergestellt_von;")
ergebnis = cursor.fetchall() 
print ( ergebnis )

datenbankverbindung.close()

[('LA-CH123', 120001, 'Kapitän', 47), ('LA-UT666', 97779, 'Diplomat', 111), ('LA-TZ987', 28271, 'Prinz', 47), ('LA-MM128', 147888, '9000', 227), ('LA-UF520', 197812, 'Admiral', 47)]
[('Kurt Kasper', 'An der Affenschaukel 5, Untermaulbach', '47'), ('Tanja Tochter', 'Am Löschteich 28, Teichgraben', '227'), ('Tim Turner', 'Unterm Bach 1, Obermaulbach', '111'), ('Kurt Kasper', 'Heißt-genau-so-wie 47, Machtabernix', '2001')]
[('Kapitän', 'Opel'), ('Diplomat', 'Opel'), ('Prinz', 'NSU'), ('9000', 'Saab'), ('Admiral', 'Opel')]

- Verändere deinen Code aus der letzten Aufgabe so, dass in der neuen Variante Tanja Tochters Adresse und Modell und Hersteller ihres Autos per INNER JOIN-Statement ausgegeben werden.

In [15]:
import sqlite3 

datenbankverbindung = sqlite3.connect( "autowerkstatt.db") 

cursor = datenbankverbindung.cursor() 

cursor.execute("SELECT Kunde.Adresse, Auto.Modell, hergestellt_von.Hersteller \
    FROM Kunde, Auto, hergestellt_von \
    WHERE Kunde.Kundennummer = Auto.Kundennummer AND Kunde.Name = 'Tanja Tochter' \
    AND Auto.Modell = hergestellt_von.Modell;")
ergebnis = cursor.fetchall() 
print ( ergebnis )

datenbankverbindung.close()

[('Am Löschteich 28, Teichgraben', '9000', 'Saab')]

### Zusatzaufgabe:

- Die Adresse soll in "Strasse" und "Ort" aufgespalten werden. Schreibe auf, wie die Tabellen aussehen müssten, damit sie allen drei Normalformen entsprechen. Passe in einem zweiten Schritt per Python und SQL die Tabellen in deiner Datenbank entsprechend an.  (Empfehlung: Tabellen löschen und neu anlegen.)

<center><b>Auto</b></center>
    
|<u>Kennzeichen</u>|Kilometerstand|Modell|Kundennummer|
|:--- |:--- |:--- |:--- |
|LA-CH123|120001|Kapitän|47|
|LA-UT666|97779|Diplomat|111|
|LA-TZ987|28271|Prinz|47|
|LA-MM128|147888|9000|227|
|LA-UF520|197812|Sport|47|

<center><b>Herstellungsland</b></center>
    
|<u>Hersteller</u>|Herstellungsland|
|:--- |:--- |
|Opel|BRD|
|NSU|BRD|
|Saab|Schweden|
|Trabant|DDR|

<center><b>Hersteller</b></center>
    
|<u>Modell</u>|Hersteller|
|:--- |:--- |
|Kapitän|Opel|
|Diplomat|Opel|
|Prinz|NSU|
|9000|Saab|
|Sport|Trabant|
    
<center><b>Kunde</b></center>
    
|Kunde|Adresse|<u>Kundennummer</u>|
|:--- |:--- |:--- |
|Kurt Kasper|An der Affenschaukel 5, Untermaulbach|47|
|Tim Turner|Unterm Bach 1, Obermaulbach|111|
|Tanja Tochter|Am Löschteich 28, Teichgraben|227|Saab 9000|

- Verändere deinen Code aus der letzten Aufgabe so, dass Tanja Tochters Adress und alle Daten zu ihrem Auto per INNER JOIN-Statement ausgegeben werden.