## Dritte Normalform

<u>Eine Datenbank ist in der <b>3. Normalform</b>, wenn es keine Spalte gibt, deren Werte immer sofort direkt aus einer anderen Spalte folgen.</u>

Man könnte auch sagen: alle Redundanzen sind jetzt aus den Tabellen entfernt.

In unserem Beispiel folgt der Hersteller aus dem Modell. Also könnte man die Tabelle der Hersteller abtrennen:

    
<center><b>Auto</b></center>
    
|<u>Kennzeichen</u>|Kilometerstand|Modell|Kundennummer|
|:--- |:--- |:--- |:--- |
|LA-CH123|120001|Kapitän|47|
|LA-UT666|97779|Diplomat|111|
|LA-TZ987|28271|Prinz|47|
|LA-MM128|147888|9000|227|
|LA-UF520|197812|Admiral|47|

<center><b>hergestellt_von</b></center>
    
|<u>Modell</u>|Hersteller|
|:--- |:--- |
|Kapitän|Opel|
|Diplomat|Opel|
|Prinz|NSU|
|9000|Saab|
|Admiral|Opel|
    
<center><b>Kunde</b></center>
    
|Kunde|Adresse|<u>Kundennummer</u>|
|:--- |:--- |:--- |
|Kurt Kasper|An der Affenschaukel 5, Untermaulbach|47|
|Tim Turner|Unterm Bach 1, Obermaulbach|111|
|Tanja Tochter|Am Löschteich 28, Teichgraben|227|
|Kurt Kasper|Heißt-genau-so-wie 47, Machtabernix|2001|

### Hinweise:

- Für eine Normalform müssen die Tabellen zuvor in die vorhergehende(n) Normalform(en) gebracht werden. Für z. B. die 3. Normalform müssen die Tabellen auch in der 1. und 2. Normalform sein.
- Die Tabellenbezeichnungen dürfen in SQL keine Leerzeichen enthalten. Deshalb wurde in "hergestellt_von" ein Unterstrich eingefügt.

### Aufgabe 27: 
Löse die folgenden Aufgaben in Python und speichere das Ergebnis unter *VornameNachname*-aufgabe27.ipynb auf Laufwerk H:.

- Passe per Python und SQL die Tabellen in deiner Datenbank so an, dass sie der oben gezeigten dritten Normalform entsprechen. (Empfehlung: Tabellen löschen und neu anlegen.)

[('LA-CH123', 120001, 'Kapitän', 47), ('LA-UT666', 97779, 'Diplomat', 111), ('LA-TZ987', 28271, 'Prinz', 47), ('LA-MM128', 147888, '9000', 227), ('LA-UF520', 197812, 'Admiral', 47)]
[('Kurt Kasper', 'An der Affenschaukel 5, Untermaulbach', '47'), ('Tanja Tochter', 'Am Löschteich 28, Teichgraben', '227'), ('Tim Turner', 'Unterm Bach 1, Obermaulbach', '111'), ('Kurt Kasper', 'Heißt-genau-so-wie 47, Machtabernix', '2001')]
[('Kapitän', 'Opel'), ('Diplomat', 'Opel'), ('Prinz', 'NSU'), ('9000', 'Saab'), ('Admiral', 'Opel')]

- Verändere deinen Code aus der letzten Aufgabe so, dass in der neuen Variante Tanja Tochters Adresse, der Kilometerstand und das Herstellungsland ihres Autos per INNER JOIN-Statement ausgegeben werden.

[('Am Löschteich 28, Teichgraben', '9000', 'Saab')]

### Zusatzaufgabe:

- Die Adresse soll in "Strasse" und "Ort" aufgespalten werden. Schreibe auf, wie die Tabellen aussehen müssten, damit sie allen drei Normalformen entsprechen. Passe in einem zweiten Schritt per Python und SQL die Tabellen in deiner Datenbank entsprechend an.  (Empfehlung: Tabellen löschen und neu anlegen.)

...

- Verändere deinen Code aus der letzten Aufgabe so, dass in der neuen Variante Tanja Tochters Adresse und alle Daten zu ihrem Auto per INNER JOIN-Statement ausgegeben werden.